@use '../util/' as *;

.flag {
  display: inline-flex;
  // align-items: center;
  justify-content: center;
  padding-inline: rem(8);
  height: rem(24);
  border-radius: rem(12);
  color: var(--white);
  font-size: rem(14);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.108px;
  line-height: rem(27);

  &--new {
    background-color: var(--primary);
  }

  &--featured {
    background-color: var(--xtra-dark);
  }

  &:not(:last-child) {
    margin-right: rem(8);
  }
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: rem(8);
  font-size: rem(16);
  font-weight: 700;
  line-height: rem(24);
  letter-spacing: -0.123px;
  height: rem(32);
  border-radius: 4px;
  background: var(--background);
  color: var(--primary);
  transition: var(--transition);

  &:hover {
    cursor: pointer;
    background: var(--primary);
    color: var(--white);
  }

  &--filter {
    overflow: hidden;
    justify-content: space-between;
    padding-right: 0;

    &::after {
      content: '';
      display: flex;
      justify-content: center;
      margin-left: rem(10);
      align-items: center;
      height: rem(32);
      width: rem(32);
      background-image: url(./images/icon-remove.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-color: var(--primary);
      transition: var(--transition);
    }

    &:hover {
      background: var(--background);
      color: var(--primary);
      &::after {
        background-color: var(--xtra-dark);
      }
    }
  }
}
